.reset-password-page {
  display: flex;
  height: 100vh;
  background-color: white;
}

.header-logo {
  position: absolute;
  top: 20px; /* Adjust the top position to fit inside the red box */
  left: 20px; /* Adjust the left position to fit inside the red box */
}

.paymee-logo {
  height: 40px; /* Ensure the logo height fits well */
  width: auto; /* Maintain aspect ratio */
}

.login-logo {
  height: 40px; /* Height of the logo */
  width: 178px; /* Width of the logo */
  background: url('./logopay.png') no-repeat center center;
  background-size: contain;
  margin-bottom: 28px; /* Margin for spacing */
}

.reset-password-image-section {
  width: 50%;
  height: 100vh;
  background: url('./io.png') no-repeat center top;
  background-size: cover;
}

.reset-password-form-section {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.reset-password-form-container {
  background: white;
  padding: 40px;
  width: 100%;
  max-width: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 10px;
  box-shadow: none; /* Supprime l'ombre autour du formulaire */
  border: none; /* Supprime la bordure */
}



.reset-password-button {
  background-color: white;
  color: #034DA3;
  border: none;
  text-decoration: underline;
  cursor: pointer;
  margin-top: 10px;
  padding: 0;
}

.login-error {
  color: red;
  padding: 10px;
  border-radius: 5px;
  margin: 10px 0;
}

.login-title {
  font-family: 'Inter', sans-serif;
  font-size: 29px;
  font-weight: 800;
  line-height: 35.89px;
  text-align: left;
  color: #213A7D;
  margin-bottom: 20px;
  width: 1500px;
}

.reset-password-form {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.form-group {
  margin-bottom: 20px;
}

.form-labe {
  font-family: 'Inter', sans-serif;
  font-size: 16px;
  font-weight: bold; /* Set font weight to bold */
  line-height: 19.36px;
  color: #697386;
  display: block;
  margin-bottom: 10px;
}

.form-input {
  background: #FFFFFF;
  border: 1px solid #D9DCE1;
  border-radius: 5px;
  padding: 13.5px 12px;
  width: 100%;
}

.login-button {
  background: #034DA3;
  color: #FFFFFF;
  border-radius: 4px;
  padding: 6px 16px;
  cursor: pointer;
  width: 100%;
  max-width: 209px;
  height: 44px;
  align-self: center;
  margin-top: 20px;
  border: none; /* Remove the border */
}

.login-button:hover {
  background-color: #023781;
}

.password-input {
  position: relative;
  display: flex;
  align-items: center;
}

input[type="password"], input[type="text"] {
  flex-grow: 1;
  padding-right: 30px;
}/* Add these styles to your SendResetEmail.css file */

.feedback-message {
  padding: 10px;
  border-radius: 5px;
  margin: 10px 0;
  text-align: center;
}

.feedback-message.success {
  color: green;
}

.feedback-message.error {
  color: red;
}


.password-icon {
  position: absolute;
  right: 10px;
  width: 20px;
  height: 20px;
  top: 50%;
  transform: translateY(-50%);
  color: #A3ACB9;
  cursor: pointer;
}
